.center {
  display: flex;
  justify-content: center;
}

.background {
  height: 100vh;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 70px auto 10%;
  justify-items: stretch;
}

.nav-bar {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  place-self: center;
  display: flex;
  align-items: flex-end;
}

.search-bar {
  margin: 10px;
}

.empty-state,
.weather-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.empty-state {
  align-self: center;
}

.empty-state > h1 {
  color: black;
  text-shadow: none;
}

.weather-container {
  background-color: #31b7e8;
  margin: 20px 50px;
  border-radius: 25px;
  min-width: 300px;
  align-self: start;
}
